#footer-logos {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: rgba(0,0,0,0.4);
  backdrop-filter: blur(10px);

  .view-footer-logos {
    .slick-track {
      display: flex;
      align-items: center;
    }
    .slick__slide {
      display: flex;
      justify-content: center;
      padding: 0 20px;
    }
  }
}