// Sub theme styling.
@import 'variables_drupal';

// Bootstrap overriden variables.
// @see https://getbootstrap.com/docs/5.2/customize/sass/#variable-defaults.
@import 'variables_bootstrap';

// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Lato:wght@400;700&display=swap');

// Include bootstrap.
@import '../../../../themes/contrib/bootstrap5/scss/style';

// Import style sheets
@import 'reset';
@import 'typography_fluid';
@import 'footer';
@import 'logos';
@import 'header';
@import 'links';
@import 'menu_desktop';
@import 'menu_mobile';
@import 'megamenu';
@import 'node';
@import 'webform';
@import 'select2';
@import 'front';
@import 'views';
@import 'cookies';
@import 'video_fix';
